apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: f5bigipctlrs.cis.f5.com
spec:
  group: cis.f5.com
  names:
    kind: F5BigIpCtlr
    listKind: F5BigIpCtlrList
    plural: f5bigipctlrs
    singular: f5bigipctlr
  scope: Namespaced
  subresources:
    status: {}
  version: v1
  versions:
    - name: v1
      served: true
      storage: true
