*~
*.o
*.a
*.So
*.so
*.po
*.so.[0-9]*
*.pyc
/_docker_workspace
/_build
\#*
\.\#*
GPATH
GRTAGS
GTAGS
*.gcno
*.gcda
*.swp
.DS_Store
._.DS_Store
*.core
*.v8heapsnapshot
*.idea
.vscode
.vagrant
debian/files
debian/*.debhelper.log
debian/*.substvars
*.cpu.dbg
*.mem.dbg
*.block.dbg
*.rel
coverage.out
coverage.html
python/.cache
/venv.local
*.coverprofile
docker-build.*
# Docs
docs/_build*
docs/errors.txt
f5-ci-docs
/docs/includes/f5-csi_k/wg-output.txt
*.diff
*.patch
