[submodule "gb-pkgs/vlogger"]
	path = gb-pkgs/vlogger
	url = git@bldr-git.int.lineratesystems.com:velcro/vlogger.git
[submodule "vendor/src/github.com/spf13/cobra"]
	path = vendor/src/github.com/spf13/cobra
	url = git@bldr-git.int.lineratesystems.com:mirror/cobra.git
[submodule "vendor/src/github.com/spf13/pflag"]
	path = vendor/src/github.com/spf13/pflag
	url = git@bldr-git.int.lineratesystems.com:mirror/pflag.git
[submodule "vendor/src/github.com/blang/semver"]
	path = vendor/src/github.com/blang/semver
	url = git@bldr-git.int.lineratesystems.com:mirror/semver.git
[submodule "vendor/src/github.com/davecgh/go-spew"]
	path = vendor/src/github.com/davecgh/go-spew
	url = git@bldr-git.int.lineratesystems.com:mirror/go-spew.git
[submodule "vendor/src/github.com/emicklei/go-restful"]
	path = vendor/src/github.com/emicklei/go-restful
	url = git@bldr-git.int.lineratesystems.com:mirror/emicklei-go-restful.git
[submodule "vendor/src/github.com/ghodss/yaml"]
	path = vendor/src/github.com/ghodss/yaml
	url = git@bldr-git.int.lineratesystems.com:mirror/ghodss-yaml.git
[submodule "vendor/src/github.com/gogo/protobuf"]
	path = vendor/src/github.com/gogo/protobuf
	url = git@bldr-git.int.lineratesystems.com:mirror/gogo-protobuf.git
[submodule "vendor/src/github.com/golang/glog"]
	path = vendor/src/github.com/golang/glog
	url = git@bldr-git.int.lineratesystems.com:mirror/golang-glog.git
[submodule "vendor/src/github.com/golang/groupcache"]
	path = vendor/src/github.com/golang/groupcache
	url = git@bldr-git.int.lineratesystems.com:mirror/golang-groupcache.git
[submodule "vendor/src/github.com/google/gofuzz"]
	path = vendor/src/github.com/google/gofuzz
	url = git@bldr-git.int.lineratesystems.com:mirror/google-gofuzz.git
[submodule "vendor/src/github.com/imdario/mergo"]
	path = vendor/src/github.com/imdario/mergo
	url = git@bldr-git.int.lineratesystems.com:mirror/imdario-mergo.git
[submodule "vendor/src/github.com/pborman/uuid"]
	path = vendor/src/github.com/pborman/uuid
	url = git@bldr-git.int.lineratesystems.com:mirror/pborman-uuid.git
[submodule "vendor/src/github.com/ugorji/go"]
	path = vendor/src/github.com/ugorji/go
	url = git@bldr-git.int.lineratesystems.com:mirror/ugorji-go.git
[submodule "vendor/src/gopkg.in/inf.v0"]
	path = vendor/src/gopkg.in/inf.v0
	url = git@bldr-git.int.lineratesystems.com:mirror/gopkg.in-inf.v0.git
[submodule "vendor/src/gopkg.in/yaml.v2"]
	path = vendor/src/gopkg.in/yaml.v2
	url = git@bldr-git.int.lineratesystems.com:mirror/gopkg.in-yaml.v2.git
[submodule "vendor/src/k8s.io/client-go"]
	path = vendor/src/k8s.io/client-go
	url = git@bldr-git.int.lineratesystems.com:mirror/client-go.git
[submodule "vendor/src/github.com/juju/ratelimit"]
	path = vendor/src/github.com/juju/ratelimit
	url = git@bldr-git.int.lineratesystems.com:mirror-nonfree/juju-ratelimit.git
[submodule "vendor/src/github.com/docker/distribution"]
	path = vendor/src/github.com/docker/distribution
	url = git@bldr-git.int.lineratesystems.com:mirror/docker-distribution.git
[submodule "vendor/src/golang.org/x/net"]
	path = vendor/src/golang.org/x/net
	url = git@bldr-git.int.lineratesystems.com:mirror/golang-x-net.git
[submodule "vendor/src/github.com/scottdware/go-bigip"]
	path = vendor/src/github.com/scottdware/go-bigip
	url = git@bldr-git.int.lineratesystems.com:mirror/scottdware-go-bigip.git
[submodule "vendor/src/github.com/stretchr/testify"]
	path = vendor/src/github.com/stretchr/testify
	url = git@bldr-git.int.lineratesystems.com:mirror/testify.git
[submodule "vendor/src/github.com/pmezard/go-difflib"]
	path = vendor/src/github.com/pmezard/go-difflib
	url = git@bldr-git.int.lineratesystems.com:mirror/go-difflib.git
[submodule "vendor/src/github.com/xeipuuv/gojsonschema"]
	path = vendor/src/github.com/xeipuuv/gojsonschema
	url = git@bldr-git.int.lineratesystems.com:mirror/gojsonschema.git
[submodule "vendor/src/github.com/xeipuuv/gojsonpointer"]
	path = vendor/src/github.com/xeipuuv/gojsonpointer
	url = git@bldr-git.int.lineratesystems.com:mirror/gojsonpointer.git
[submodule "vendor/src/github.com/xeipuuv/gojsonreference"]
	path = vendor/src/github.com/xeipuuv/gojsonreference
	url = git@bldr-git.int.lineratesystems.com:mirror/gojsonreference.git
[submodule "vendor/src/velcro/schemas"]
	path = vendor/src/velcro/schemas
	url = git@bldr-git.int.lineratesystems.com:velcro/schemas.git
[submodule "vendor/src/velcro/common-bigip-ctlr"]
	path = vendor/src/velcro/common-bigip-ctlr
	url = git@bldr-git.int.lineratesystems.com:velcro/marathon-bigip-ctlr.git
