*~
*.o
*.a
*.So
*.so
*.po
*.so.[0-9]*
*.pyc
build
\#*
\.\#*
GPATH
GRTAGS
GTAGS
*.gcno
*.gcda
*.swp
.DS_Store
._.DS_Store
*.core
*.v8heapsnapshot
*.idea
.vagrant
debian/files
debian/*.debhelper.log
debian/*.substvars
obj-x86_64-linux-gnu/
/bin
/pkg
vendor/manifest
*.dbg
*.rel
coverage.out
coverage.html
