# permissions for end users to view f5bigipctlrs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: f5-bigip-ctlr-operator
    app.kubernetes.io/managed-by: kustomize
  name: f5bigipctlr-viewer-role
rules:
- apiGroups:
  - cis.f5.com
  resources:
  - f5bigipctlrs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cis.f5.com
  resources:
  - f5bigipctlrs/status
  verbs:
  - get
