apiVersion: v1
kind: ConfigMap
metadata:
  name: extended-cm
  namespace: kube-system
  labels:
    f5nr: "true"
data:
  extendedSpec: |
    extendedRouteSpec:
    - namespaceLabel: environment=dev
      vserverAddr: 10.8.3.11
      vserverName: nextgenroutes
      bigIpPartition: dev
      policyCR: default/sample-policy
    - namespaceLabel: environment=test
      vserverAddr: 10.8.3.12
      policyCR: default/sample-policy
