apiVersion: v1
kind: ConfigMap
metadata:
  name: default-extended-route-spec
  namespace: kube-system
data:
  extendedSpec: |
    extendedRouteSpec:
    - namespace: default
      vserverAddr: 10.8.3.11
      vserverName: nextgenroutes
      allowOverride: true
      tls:
        clientSSL: /Common/clientssl
        serverSSL: /Common/serverssl
        reference: bigip
    - namespace: new
      vserverAddr: 10.8.3.12
      allowOverride: true
